#about h1 {
	color:  #0066FF;
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;	
	font-weight: 100;
}

#about ul {
	list-style-image: url("../tick_6803.png");
}

#about h2 {
	color:  #0066FF;
	text-align: center;
	font-weight: 100;
	margin: 0px;
	padding: 10px;
}

#about {
	font-style: italic;
	font-family: serif;
	font-weight: 100;
}

#about_row {
	text-align: center;	
}

#about img {
	margin: 0px;
	padding: 0px;
}

