footer {
	padding: 10px;	
	background-color: #262626;
	color: #FBFBFB;
	z-index: 1;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0px;
	clear: left;
}

#contacts {
	background-color: #404040;
}

iframe {
	padding: 20px 20px 20px 20px;
	margin-right: 5%;
	float: left;
	border: none;
	width: 65%;
	height: 500px;
}

#contacts h1 {
	color: #F2F2F2;
	text-align: center;
	padding: 30px 30px;
	border-bottom: 1px solid grey;	
	font-weight: 100;
	font-style: italic;
	font-family: serif;
	font-stretch: ultra-expanded;
}
#address {
	color: #F2F2F2;
	font-style: italic;
	font-family: serif;
	margin-left: 5%;
}

#address h2 {
	text-align: center;
}

#address p {
	font-size: 18px;
	text-align: left;
}

@media (max-width: 800px) {
	iframe {width: 100%;}
}